.speech{
    color: black;
    font-size: 12px;
    font-family:serif;
}
.direction{
    color: black;
    font-size: 14px;
    font-family: 'Times New Roman';
    background-color:beige;
    
}
.direction:hover{
    background-color:beige;
    color: coral;
}
.linde{
    color:burlywood;
    font-style: italic;
    text-decoration: dashed;

}
.krogstad{
    color:cornsilk;
    font-style: italic;
}

